.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7432FA;
    font-size: 46px;
    font-weight: 900;
    box-shadow: 0 0 10px black;
    padding: 10px;
}