.sidebar {
    width: 200px;
    background-color: #282B28;
    padding: 10px;
}

h1 {
    /* padding-left: 40px; */
    margin: 20px 0;
}

ul {
    display: flex;
    flex-direction: column;
}

a {
    padding: 2px 0 2px 20px;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    color: rgb(220, 231, 241);
}
